*{
  margin: 0;
  list-style-type: none;
}
body{
  margin: 0 auto;
  width: 100%;
}

nav ul{
  display: flex;
  width: 100%;
  padding-top: 20px 0;
  background-color: grey;
  justify-content: space-around;
  align-content: center;
}
.logo{
  width: 50px;
  height: 50px;
}

.grid-1{
  display: grid;
  border: solid 1px green;
  grid-template: 1fr 1fr / 1fr 1fr;
 
}
.grid-2{
  display: grid;
  border: solid 1px green;
  grid-template-columns: repeat(3,1fr);
}
.grid-3{
  display: grid;
  border: solid 1px green;
  grid-template-columns: repeat(2, 2fr 1fr);
}
.grid-4{
  display: grid;
  border: solid 1px green;
  grid-template-columns: repeat(3, 1fr);
}
.grid-5{
  display: grid;
  border: solid 1px green;
  grid-template-columns: repeat(2, 1fr);
}
.grid-6{
  display: grid;
  border: solid 1px green;
  grid-template-columns: repeat(3, 1fr);

}
.grid-7{
  display: grid;
  border: solid 1px green;
  grid-template-columns: repeat(2, 1fr);

}