* {
  margin: 0;
  padding: 0;
  font-family: "Comic Neue", cursive;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #555;
}

body {
  margin: 0 auto;
  width: 100%;
}

.black {
  background: #000;
  color: #fff;
}

.dark_gray {
  background: #333;
  color: #fff;
}

.middle_gray {
  background: #777;
  color: #000;
}

.light_gray {
  background: rgb(170, 170, 170);
  color: #000;
}

nav ul {
  display: flex;
  width: 100%;
  padding: 50px 50px 0 50px;
  background-color: grey;
  justify-content: space-between;
  align-content: center;
  height: 219px;
  list-style: none;
}

.logo {
  margin: -10px 10px;
  width: 80%;
  height: 80%;
}

h3 {
  font-size: 35px;
  font-weight: bolder;
  line-height: 55px;
}

.navbar_list {
  text-align: center;
}

.topics{
  padding: 5px 10px;
  border: #fff solid 4px;
  border-radius: 10px;
}

.italics {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

.center_text {
  text-align: center;
  margin: 45px 40%;
  width: 20%;
  font-size: 50px;
  position: absolute;
}

.right_text {
  text-align: right;
  margin: 45px 0 0 85%;
  width: 15%;
  font-size: 30px;
  position: absolute;
}

.seriously {
  background: white;
}

.grid-1 {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
}

.item {
  height: 605px;
  padding: 250px 30px 250px 80px;
  align-self: center;
}

.big {
  height: 704px;
}

.item small {
  color: #555;
  font-style: oblique;
}

.item a {
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.item h2 {
  font-size: 50px;
}

.comment{
  margin-bottom: 50px;
}

.article-1 {
  background-color: rgb(68, 68, 70);
}

.article-1 img, .article-2 img, .article-3 img {
  width: 50px;
  height: 50px;
}

.article-2 {
  background-color: rgb(113, 113, 116);
}

.article-3 {
  background-color: rgb(52, 52, 53);
  color: gray;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 452px);
  background-color: rgb(181, 181, 182);
  height: 675px;
}

.grid-2 a {
  text-decoration: underline;
}

.posts {
  margin-top: 30px;
  padding: 30px 40px 0;
  height: 500px;
}

.grid-2 small {
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}

.post_title {
  padding-bottom: 30px;
}

.posts_links {
  font-size: x-large;
  color: #000;
  font-weight: bold;
}

.post_author {
  padding-bottom: 30px;
}

.post {
  font: 20px/30px "Times New Roman", Times, serif;
}

.grid-smashing {
  display: grid;
  height: 675px;
  grid-gap: 20px;
}

.grid_smashing1 {
  grid-template-columns: 1fr 452px 452px;
}

.banner {
  width: calc(100%-50px);
  text-align: center;
  padding-top: 200px;
  color: #fff;
  background: #333;
  border-radius: 15px;
}

.banner1 {
  margin-left: 50px;
}

.banner-title {
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: underline;
}

.banner p {
  padding: 50px 20px;
  font-size: 1.3rem;
  width: 60%;
  margin: 0 auto;
}

.smashing_link {
  color: white;
  text-decoration: underline;
}

.exp-btn {
  color: gray;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 1.4rem;
}

.account {
  padding-top: 30px;
  color: white;
  font-size: 1.2rem;
}

.sign-in {
  color: white;
  font-size: 1.05rem;
  text-decoration: underline;
}

.grid_smashing2 {
  grid-template-columns: 452px 452px 1fr;
  margin-top: 90px;
}

.banner2 {
  margin: 0 50px 0 0;
}

#lastest-articles {
  display: flex;
  justify-content: center;
  color: #333;
}

.see_all {
  width: fit-content;
  margin: 130px auto;
  border-bottom: 2px black solid;
  padding-bottom: 3px;
}

.book {
  text-align: center;
  background-color: #333;
  height: 1092px;
  padding: 77px 0;
}

.book-date {
  padding: 2.5rem;
  font-size: 1.2rem;
  color: #000;
}

.book-title {
  font-size: 50px;
  font-weight: bolder;
  color: #555;
  text-decoration: underline;
  text-shadow: 1px 2px #777;
  line-height: 5rem;
}

.book-subtitle {
  font-size: 50px;
  font-weight: bolder;
  color: #000;
}

.book-paragraph {
  font-size: 27px;
  width: 1100px;
  margin: 43px auto;
  padding-top: 20px;
  color: #000;
  padding-bottom: 4.5rem;
}

.book-btn {
  color: #000;
  height: 73px;
  font-weight: bold;
  font-size: 27px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.person-of-week {
  margin: 70px 65px 200px 20%;
  height: 200px;
}

.person-title {
  color: #666;
  padding-bottom: 50px;
}

.person-of-week p {
  font-size: 22px;
  line-height: 33px;
}

.person_link {
  color: #006fc6;
  text-decoration: underline;
}

.person_italics {
  font-style: italic;
}

.grid-4 {
  display: grid;
  grid-gap: 30px;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  height: 1300px;
  align-items: center;
  justify-items: center;
  padding: 0 150px;
}

.other_links_author, .wrote {
  color: #666;
  font-size: 25px;
  text-decoration: underline;
}

.wrote {
  text-decoration: none;
}

.other_links_title {
  color: #000;
  font-size: 35px;
  line-height: 60px;
}

.paragraph-author {
  width: 90%;
  font-size: 21px;
  line-height: 30px;
}

.design-systems {
  height: 407px;
  padding: 55px 73px;
  background: #555;
}

.design-systems .book-title {
  line-height: 0;
}

.design-paragraph {
  margin: 50px 0;
  font-size: 25px;
  line-height: 30px;
  width: 70%;
}

.white {
  color: #fff;
}

.design-systems {
  height: 407px;
  padding: 55px 73px;
  background: #555;
}

.design-btn {
  margin-top: 50px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.posts ul {
  line-height: 45px;
  padding-left: 40px;
}

.posts h4 {
  font-size: 15px;
  margin-bottom: 15px;
}

.posts h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

.posts li a {
  color: #006fc6;
  text-decoration: underline;
  font-size: 25px;
}

.big_card {
  height: 789px;
}

.newsletter {
  height: 1138px;
  width: 90%;
  margin: 0 auto;
  background: #555;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}

.newsletter_title .design-paragraph {
  text-align: center;
  width: 50%;
  margin: 25px auto 700px auto;
}

.newsletter_footer{
  display: flex;
  align-items: center;
  height: 71px;
  justify-content: center;
}

.email {
  width: 274px;
  height: 71px;
  font-size: 20px;
  border-radius: 15px 0 0 15px;
  border: none;
}

.newsletter_button{
  margin-right: 10px;
  height: 32px;
}

.newsletter_button .book-btn {
  border-radius: 0 15px 15px 0;
  border-left: #666 1px solid;
}

footer{
  text-align: center;
}

.center-list{
  margin: 61px auto;
  width: 90%;
}

.center-list li{
  display: inline;
  line-height: 50px;
  font-size: 30px;
  margin: 20px;
}

.footer_info{
  margin: 20px auto;
  font-size: 20px;
  line-height: 35px;
}

.footer-links{
  width: 50%;
  margin: 20px auto 50px auto;
}

.footer-links li{
  display: inline;
  line-height: 50px;
  font-size: 20px;
  margin: 20px;
}